p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
h2{
    font-weight: bold;
    font-size: 24px;
}
.Helvetica{
    color: rgb(212, 13, 13);
    width: 300px;
    border: 1px solid grey;
    padding: 30px;
    margin: auto;
    margin-top: ;
    margin-bottom: 30px;
}
.San-Francisco{
    color: rgb(6, 110, 70);
    width: 300px;
    border: 1px solid grey;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
}
.Roboto{
    color: rgb(255, 106, 0);
    width: 300px;
    border: 1px solid grey;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
}
a[href]{
    color: rgb(69, 46, 243);
    font-style: italic;
    font-size: 14px;
}
        