*{
    box-sizing: border-box;
}
:root{
    --header-font-color: #FFFFFF;
    --text-font-size: 18px;
    --text-color: #fff;
    --accent-color: #FF9900;
    --underline-color: #FFE600;
}
html, body{
    font-size: var(--text-font-size);
    font-family: 'Philosopher';
    font-weight: 400;
    line-height: 20px;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid red; */
}
h1{
    font-size: 80px;
    line-height: 90px;
    font-weight: 400;
    text-align: right;
    margin: 0;
}
h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    margin: 0;
}
h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: var(--accent-color);
    margin: 0;
    text-align: center;
}
.main{
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    position: relative;
}
.header-block{
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}
.menu-block{
    display: flex;
    gap: 18px;
    margin: 0;
}
.menu-block-item{
    list-style: none;
}
.menu-block-item1{
    list-style: none;
}
.menu-block-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
    line-height: 27px;
    text-align: center;
}
.menu-block-item1 a{
    color: var(--accent-color);
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    line-height: 27px;
}

.header-btn a{
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-decoration: none;
    margin-left: 150px;
}
.mobile-menu{
    display: none;
    align-items: center;
}
.mobile-menu .fa-times{
    display: none;
}
.fa-bars, .fa-times{
    font-size: 33px;
    color: #FFFFFF;
}
.main-text-block{
    display: grid;
    align-content: start;
    grid-template-columns: 437px 646px;
    color: white;
    position: relative;
    top: 300px;
    grid-column-gap: 11%;
}
.main-text-title span{
    color: var(--accent-color);
}
.main-text-content{
    font-size: 34px;
    line-height: 38px;
}
.main-text-content>div:nth-child(2){
    color: var(--accent-color);
    text-align: right;
}
.story{
    background-color: #F6FDEE;
    padding-top: 120px;
    padding-bottom: 121px;
}
.story-content h2{
    margin-bottom: 70px;
} 
.story-content span{
    color: var(--accent-color);
}
.story-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3%;
    margin-bottom: 35px;
}
.story-grid>div{
    align-content: space-between;
    /* display: grid;   */
}
.story-grid>div:nth-child(4){
    justify-items: start;
    display: grid;  
}
.story-grid>div:nth-child(5){
    justify-items: start;
    display: grid;  
}
.story-img{
    width: 100%;
}
.story-grid>div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
    justify-items: center;
    display: grid;  
}
.p-center{
    text-align: center;
    padding: 22px 22% 32px 22%;
    margin: 0;
}
.p-right{
    padding: 19px 36% 28px 0;
    margin: 0;
}
.story-grid>div:nth-child(5){
    grid-column: 3;
    grid-row: 2/3;
}
.underline{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
    border-bottom: 5px solid var(--underline-color);
    margin: 0;
}
.read{
    text-align: right;
}
.collection{
    background-image: url(../img/bg-collection.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 904px;
    position: relative;
}
.collection-content{
    padding-top: 120px;
    padding-bottom: 120px;
} 
.collection-content span{
    color: var(--accent-color);
}
.collection-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-bottom: 30px;
    grid-column-gap: 2%;   
    grid-row-gap: 2%;
}
.collection-grid>div:{
    display: grid;
    justify-content: space-between; 
    align-content: space-between;
    position: relative;
}
.photo-block{
    position: relative;
}
.text-cover-1{
    position: absolute;
    bottom: 220px;
    bottom: 30px;
    left: 21px;
    color: #FFFFFF;
    display: inline-block;
    padding-right: 21%;
}
.text-cover-2{
    position: absolute;
    bottom: 30px;
    left: 21px;
    color: #FFFFFF;
    display: inline-block;
    padding-right: 21%;
}
.text-cover-3{
    position: absolute;
    bottom: 30px;
    left: 21px;
    color: #FFFFFF;
    display: inline-block;
    padding-right: 21%;
}
.text-cover-4{
    position: absolute;
    bottom: 30px;
    left: 21px;
    color: #FFFFFF;
    display: inline-block;
    padding-right: 21%;
}
.text-cover-1, .text-cover-2, .text-cover-3, .text-cover-1 p{
    font-weight: 700px;
}
.photo-block .underline{
    color: white;
}
.collection-grid img{
    width: 100%;
}
.view{
    text-align: right;
}
.vintage{
    background-image: url(../img/bg-area.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
}
.vintage-content{
    padding-top: 120px;
    padding-bottom: 120px;
}
.vintage-content span{
    color: var(--accent-color);
}
.vintage-grid{
    display: grid;
    grid-template-columns: auto 35%;
    margin-top: 87px;
}
.vintage-grid>div{
    display: grid;
    padding-right: 80px;
}
.vintage-grid span{
    color: var(--accent-color);
}
.what-we-do{
    text-align: right;
}
.diversity{
    background-image: url(../img/bg-collection.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
    position: relative;
}
.diversity-content{
    padding-top: 120px;
    padding-bottom: 120px;
} 
.diversity-content span{
    color: var(--accent-color);
}
.diversity-grid{
    display: grid;
    grid-template-columns: 28.7% 25.4% 43.3%;
    margin-top: 50px;
    margin-bottom: 30px;
    grid-column-gap: 1.2%;   
    /* border: 1px solid green; */
    justify-content: space-between;
}
.col-grid-1{
    display: grid;
    grid-template-columns: 44% 51%;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1.3%;   
    grid-row-gap: 2.4%;
    justify-content: space-between;
}
.col-grid-1>div:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
.col-grid-1>div:nth-child(3){
    grid-column: 1/2;
    grid-row: 2/3;
}
.col-grid-1>div:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/3;
}
.col-grid-1>div:nth-child(5){
    grid-column: 1/3;
    grid-row: 3/4;
}
.col-grid-1>div{
    display: grid;
    justify-content: space-between;
    align-items: stretch;
    grid-column-gap: 2%;   
    grid-row-gap: 2%;
}
.col-grid-3{
    display: grid;
    grid-template-columns: 25.5% 29.4% 39.2%;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1.3%;   
    grid-row-gap: 2.4%;
    justify-content: space-between;
}
.col-grid-3>div{
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    grid-column-gap: 2%;   
    grid-row-gap: 2.4%;
}
.col-grid-1 img{
    width: 100%;
}
.col-grid-2 img{
    width: 100%;
}
.col-grid-3 img{
    width: 100%;
}
.col-grid-3>div:nth-child(1){
    grid-column: 1/4;
    grid-row: 1/2;
}
.col-grid-3>div:nth-child(4){
    grid-column: 1/2;
    grid-row: 2/4;
}
.col-grid-3>div:nth-child(5){
    grid-column: 2/3;
    grid-row: 2/3;
}
.col-grid-3>div:nth-child(6){
    grid-column: 3/4;
    grid-row: 2/4;
}
.col-grid-3>div:nth-child(9){
    grid-column: 2/3;
    grid-row: 3/4;
}
.wokr-with-us{
    text-align: right;
    padding-top: 30px;
}
.awards{
    background-color: #F6FDEE;
    padding-top: 120px;
    padding-bottom: 120px;
}
.awards-content h2{
    margin-bottom: 92px;
} 
.awards-content span{
    color: var(--accent-color);
}
.awards-grid{
    display: grid;
    grid-template-columns: 17.75% 40.2% 28.2%;
    grid-column-gap: 3%;
    justify-content: space-between;
    align-content: space-between;
}
.awards-grid>div{
    align-content: space-between;
    display: grid;  
}
.awards-grid img{
    width: 100%;
    align-self: baseline;
}
.footer{
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.footer-content span{
    color: var(--accent-color);
}
.footer-content{
    padding-top: 120px;
} 
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 38.5% 55.2%;
    margin-top: 120px;
    margin-bottom: 60px;
    grid-column-gap: 68px;
    grid-row-gap: 62px;
}
.footer-grid>div{
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
}
.footer-grid>div>p:nth-child(1){
    font-weight: 700;
}
.footer-grid>div>p{
    margin: 0;
}
.footer-grid>div:nth-child(7){
    grid-column: 3/5;
    grid-row: 2/3;
    justify-content: space-between;
}
.footer form{
    display: grid;
    width: 100%;
    /* justify-content: space-between; */
}
.footer input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 100%;
}
.submit-btn{
    display: inline-block;
    text-decoration: none;
    background-color: var(--accent-color);
    width: 212px;
    height: 66px;
    padding: 12px 0 12px 0;
    text-align: center;
    border-radius: 5px;
    color: black;
}
.submit{
    text-align: right;
    margin-top: 38px;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 90px;
    margin-bottom: 40px;
}
.footer-bottom-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}





/* MEDIA */


@media(max-width:1900px){
    .wrapper{
        width: 90%;
    }
}
@media(max-width:1700px){
    .collection{
        height: 880px;
    }
}
@media(max-width:1600px){
    .collection{
        height: 840px;
    }
}
@media(max-width:1500px){
    .collection{
        height: 800px;
    }
    .footer{
        height:100%;
    }
@media(max-width:1400px){
    .main-text-block{
        top: 360px;
    }
    H1{
        font-size: 60px;
        line-height: 70px;
    }
    .main-text-content{
        font-size: 24px;
        line-height: 30px;
    }
    .main-text-block{
        display: grid;
        align-content: start;
        grid-template-columns: 40% 50%;
}
}
@media(max-width:1240px){
    .header-block{
        padding-top: 15px;

    }
    .main{
        height: 750px;
    }
    .main-text-block{
        top: 230px;
    }
    .menu-block{
        display: none;
    }
    .mobile-menu{
        display: block;
        border: none;
        background-color: transparent;
    }
    .mobile-menu.active .fa-times{
        display: block;
    }
    .mobile-menu.active .fa-bars{
        display: none;
    }
    .menu-block.active{
        position: absolute;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 45px;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
        gap: 27px;
        top: 80px;
        /* border: 1px solid red; */
        z-index: 1;
    }
    .menu-block-item{
        display: block;
        text-align: center;
        margin-right: 0;
    }
    .menu-block-item a{
        font-size: var(--text-font-size);
        color: var(--header-font-color);
        text-decoration: none;
        text-align: center;
    }
    .header-btn{
        width: 950px;
        margin-top: 10px;
    }
    .header-btn a{
        margin-left: 0;
    }
    .story{
        padding: 60px 0 60px 0;
    }
    .story-content h2{
        margin-bottom: 50px;
    } 
    .story-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        justify-content: center;
        align-items: center;
        grid-row-gap: 40px;
    }
    .story-grid>div:nth-child(2){
        grid-column: 1;
        grid-row: 2;
        justify-items: start;
    }
    .story-grid>div:nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    .story-grid>div:nth-child(4){
        grid-column: 1;
        grid-row: 4;
    }
    .story-grid>div:nth-child(5){
        grid-column: 1;
        grid-row: 5;
    }
    .story-grid>div{
        justify-items: start;
    }
    .story-grid img{
        width: 70%;
    }
    .p-center{
        text-align: left;
        padding: 22px 22% 32px 0;
        margin: 0;
    }
    .collection{
        height: auto;
        background-repeat: repeat;
        background-size: cover;
    }
    .collection-content{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .collection-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;    
    }
    .collection-grid>div:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    .collection-grid>div:nth-child(3){
        grid-column: 1;
        grid-row: 2;
    }
    .collection-grid>div:nth-child(4){
        grid-column: 2;
        grid-row: 2;
    }
   .vintage-content{
    padding: 60px 0 60px 0;
    font-size: 18px;
    line-height: 20px;
   }
   .vintage-grid{
    margin-top: 40px;
    grid-template-columns: auto 50%;
    }
    .vintage-grid>div{
        padding-right: 20px;
    }
    .awards{
        padding: 60px 0 60px 0;
    }
    .diversity-content{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-grid>div{
        font-size: 20px;
        line-height: 24px;
    }
    .footer-grid{
        margin-top: 30px;
    }
    .footer-content{
        padding-top: 60px;
    }
    .footer-content>h2{
        font-size: 30px;
        line-height: 34px;
    }
    .footer-grid>div>h2{
        font-size: 30px;
        line-height: 34px;
    }
    .footer input{
        font-size: 20px;
    }
    .submit-btn{
        font-size: 30px;
    }
    .submit{
        /* margin-top: 20px; */
    }
    .footer{
        height: 100%;
    }
    .line{
        margin: 40px 0 10px 0;
    }
}

@media(max-width:924px){
    .wrapper{
        width: 95%;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 38.5% 55.2%;
        margin-bottom: 0;
        grid-column-gap: 34px;
        grid-row-gap: 32px;
    }
    .footer-grid>div:nth-child(1){
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .footer-grid>div:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .footer-grid>div:nth-child(3){
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .footer-grid>div:nth-child(4){
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .footer-grid>div:nth-child(6){
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .footer-grid>div:nth-child(7){
        grid-column: 2/4;
        grid-row: 3/4;
        justify-content: space-between;
    }
    .footer-bottom-text{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

}
@media(max-width:770px){
    H1{
        font-size: 40px;
        line-height: 48px;
    }
    h2{
        font-size: 20px;
        line-height: 25px;
    }
    .story-content h2{
        margin-bottom: 40px;
    }
    h3{
        font-size: 18px;
        line-height: 20px;
    }
    .main-text-content{
        font-size: 18px;
        line-height: 22px;
    }
    .main{
        height: 750px;
    }
    .main-text-block{
        top: 190px;
    }
    p{
        font-size: 14px;
        line-height: 16px;
    }
    .p-center, .p-right{
        font-size: 16px;
        line-height: 18px;
    }
    .story{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .collection-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-content: center;
        grid-row-gap: 40px;
    }
    .collection-grid>div:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    .collection-grid>div:nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    .collection-grid>div:nth-child(4){
        grid-column: 1;
        grid-row: 4;
    }
    .collection-grid img{
        width: 100%;
    }
    .collection-content{
        padding-top: 40px;

    }
    .photo-block p{
        font-size: 18px;
        line-height: 20px;
    }
    .photo-block .underline{
        font-size: 24px;
    }
    .underline{
        font-size: 20px;
    }
    .collection{
        background-image: none;
    }
    .vintage-grid{
        margin-top: 0;
    }
    .vintage{
        background-size: 130%;
        height: 424px;
    }
    .diversity{
        height: auto;
    }
    .diversity-grid{
        display: grid;
        grid-template-columns: 52% 45.8%;
        grid-template-rows: auto auto;
        grid-row-gap: 1.2%;
    }
    .col-grid-1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .col-grid-2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .col-grid-3{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .awards-content{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .awards{
        padding: 0;
    }
    .awards-content h2{
        margin-bottom: 60px;
    }
    .footer-content{
        padding: 40px 0 0 0;
    }
    .footer{
        height: 100%;
    }
    .footer-grid{
        margin: 30px 0 0 0;
        grid-column-gap: 8px;
    }
    .footer input{
        font-size: 12px;
    }
    .submit-btn{
        font-size: 18px;
        width: 100px;
        height: 46px;
        padding: 10px;
        line-height: 20px;
    }
}
@media(max-width: 570px){
    .vintage{
        background-size: 230%;
    }
    .vintage-grid{
        margin-top: 40px;
    }
    .footer-input{
        font-size: 16px;
    }
    .footer form{
        width: 70%;
    }
    .submit-btn{
        font-size: 18px;
        width: 100px;
        height: 46px;
        padding: 10px;
        line-height: 20px;
    }
}
}
